{% extends "layout.html" %}
{% block body %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<form action="/placeorder" enctype="multipart/form-data" method="POST">
					<!-- row -->
					<div class="row">
						<div class="col-md-7">
							<!-- Billing Details -->
							<div class="billing-details">
								<div class="section-title">
									<h3 class="title">Billing address</h3>
								</div>
								<div class="form-group">
									<input class="input" type="text" id="firstname" name="firstname" placeholder="First Name">
								</div>
								<div class="form-group">
									<input class="input" type="text" name="lastname" id="lastname" placeholder="Last Name">
								</div>
								<div class="form-group">
									<input class="input" type="email" id="email" name="email" placeholder="Email">
								</div>
								<div class="form-group">
									<input class="input" type="text" id="address" name="address" placeholder="Address">
								</div>
								<div class="form-group">
									<input class="input" type="text" id="city" name="city" placeholder="City">
								</div>
								<div class="form-group">
									<input class="input" type="text" id="country" name="country" placeholder="Country">
								</div>
								<div class="form-group">
									<input class="input" type="text" id="pincode" name="pincode" placeholder="ZIP Code">
								</div>
								<div class="form-group">
									<input class="input" type="tel" id="tel" name="tel" placeholder="Telephone">
								</div>
							</div>
							<!-- /Billing Details -->

						</div>

						<!-- Order Details -->
						<div class="col-md-5 order-details">
							<div class="section-title text-center">
								<h3 class="title">Your Order</h3>
							</div>
							<div class="order-summary">
								<div class="order-col">
									<div><strong>PRODUCT</strong></div>
									<div><strong>TOTAL</strong></div>
								</div>

								{% for cart in carts %}

								<div class="order-products">
									<div class="order-col">
										<div>{{ cart.cart_qty }} x {{ cart.prod_name }}</div>
										<div>{{ cart.prod_price }}</div>
									</div>
								</div>


								{% endfor %}

								<div class="order-col">
									<div>Shiping</div>
									<div><strong>FREE</strong></div>
								</div>
								<div class="order-col">
									<div><strong>TOTAL</strong></div>
									<div><strong class="order-total"></strong></div>
								</div>
							</div>
							<div class="payment-method">
								<div class="input-radio">
									<input type="radio" name="payment" id="payment1" value=DBT">
									<label for="payment1">
										<span></span>
										Direct Bank Transfer
									</label>
									<div class="caption">
										<p></p>
									</div>
								</div>
								<div class="input-radio">
									<input type="radio" name="payment" id="payment2" value=CP">
									<label for="payment2">
										<span></span>
										Cheque Payment
									</label>
									<div class="caption">
										<p></p>
									</div>
								</div>
								<div class="input-radio">
									<input type="radio" name="payment" id="payment3" value="UPI">
									<label for="payment3">
										<span></span>
										UPI Payment
									</label>
									<div class="caption">
										<p></p>
									</div>
								</div>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="terms">
								<label for="terms">
									<span></span>
									I've read and accept the <a href="#">terms & conditions</a>
								</label>
							</div>
							<button type="submit" class="primary-btn order-submit">Place order</button>

						</div>
						<!-- /Order Details -->
					</div>
					<!-- /row -->
			</form>
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock %}
